<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/index.css" />
        <script src="/static/js/htmx.min.js"></script>
        <title>MG's Blog</title>
    </head>
    <body>
        <main class="p-16">
            <h1 class="text-4xl">MG's blog (WIP)</h1>
            <h3 class="text-xl">If you found this site, hello :)</h3>
            <br />
            <h2 class="text-2xl">Blogs</h2>
            <ul>
                {{ .authors }}
            </ul>
        </main>
    </body>
</html>
